<h3> All Your Bookings</h3>

<div class="container">

  <div class="row">
    <% @requested_bookings.each do |booking| %>
          <div class="booking-card">
            <p><%= booking.start_time %></p>
            <p><%= booking.finish_time %></p>
            <p><%= booking.status %></p>
            <p><%= booking.parking_id %></p>
            <p><%= booking.user_id %></p>
            <p><%= booking.id %></p>
          </div>
    <% end %>
  </div>
</div>
