<div class="banner">
  <p class="accent-text">tired of spending hours looking for a parking spot?</p>
  <p>search a cool parking spot</p>


  <%= simple_form_for(@parking) do |f| %>

  <%= f.input :city, placeholder: 'city'%>
  <%= f.submit value: 'search' %>

<% end %>

</div>

<div class="container">
  <div class="row">

    <h3>here are some super cool parking spots you could have</h3>
    <h6>isn't it great?</h6>

    <% @home_parkings.each do |parking| %>
      <div class="col-xs-12 col-md-6 col-lg-4 parking-card">
        <div class="card-header">
          <%= parking.city %>
          <%= parking.user.email %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row">
    <h3>sign in to explore all the cool spots in your city.</h3>
  </div>
</div>

