<div class="banner">
  <div class="banner-content">
    <h3>tired of spending hours looking for a parking space?</h3>
    <h6><span class="accent-header">we have one for you!</span></h6>
      <%= form_tag parkings_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "where would you like to park your car?"
         %>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="parkings-messages">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h3>here are some super cool parking spaces you could book</h3>
        <h6><span class="accent-header">isn't it great?</span></h6>
      </div>
    </div>

  </div>

  <div class="row">

    <% @home_parkings.each do |parking| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to parking_path(parking) do %>
        <%# raise %>
          <div class="parking-card" style="background-image: url( <%= parking.photo %> )">
            <div class="card-header">
              <h6><%= parking.city %></h6>
              <p><%= parking.user.email %></p>
            </div>
          </div>
        <% end %> <!-- end of link -->
      </div>
    <% end %> <!-- end of loop in the parkings -->


  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
  <%= link_to 'see all parking spaces', parkings_path, class: 'btn btn-primary btn-block btn-cta' %>

    </div>
  </div>


</div>

<div id="cta-new-parking">

  <div class="container">
    <div class="row">

      <div class="parkings-messages">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h3>don't let your parking space get lonely</h3>
          <h6><span class="accent-header">rent it out now!</span></h6>
          <%= link_to 'add your parking space', new_parking_path, class: 'btn btn-primary btn-block btn-cta' %>
        </div>
      </div>

    </div>
  </div>

</div>


