<div class="banner">
  <p class="accent-text">tired of spending hours looking for a parking spot?</p>
  <p>search a cool parking spot</p>

  <%= simple_form_for(@parking) do |f| %>

    <%= f.input :city, placeholder: 'city'%>
    <%= f.submit value: 'search' %>

  <% end %>

</div>


<div class="container">
  <div class="row">

    <div id="parkings-header">
      <h3>here are some super cool parking spots you could have</h3>
      <h6 class="accent-header">isn't it great?</h6>
    </div>

    <% @home_parkings.each do |parking| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to parking_path(parking) do %>
          <div class="parking-card">
            <div class="card-header">
              <h6><%= parking.city %></h6>
              <p><%= parking.user.email %></p>

            </div>
          </div>
        <% end %> <!-- end of link -->
      </div>
    <% end %> <!-- end of loop in the parkings -->

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h3>don't let your parking space get lonely</h3>
      <h6 class="span accent-headings">rent it out</h6>
      <%= link_to 'add your parking spot', new_parking_path, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>

