<div class="banner">
  <div class="banner-content">
    <h3>tired of spending hours looking for a parking spot?</h3>
    <h6><span class="accent-header">we have one for you!</span></h6>
    <%= simple_form_for(@parking) do |f| %>

      <%= f.input :city, placeholder: 'where is your car?'%>
      <%= f.submit value: 'search', class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="parkings-messages">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h3>here are some super cool parking spots you could have</h3>
        <h6><span class="accent-header">isn't it great?</span></h6>
      </div>
    </div>

  </div>

  <div class="row">

    <% @home_parkings.each do |parking| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to parking_path(parking) do %>
          <div class="parking-card">
            <div class="card-header">
              <h6><%= parking.city %></h6>
              <p><%= parking.user.email %></p>
            </div>
          </div>
        <% end %> <!-- end of link -->
      </div>
    <% end %> <!-- end of loop in the parkings -->

  </div>
</div>

<div id="cta-new-parking">

  <div class="container">
    <div class="row">

      <div class="parkings-messages">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h3>don't let your parking space get lonely</h3>
          <h6><span class="accent-header">rent it out now!</span></h6>
          <%= link_to 'add your parking spot', new_parking_path, class: 'btn btn-primary btn-block btn-cta' %>
        </div>
      </div>

    </div>
  </div>

</div>


