
<div class="container">
  <h3>look at all the available parking spaces.</h3>
  <h6><span class="accent-header">there is one for you!</span></h6>
</div>

<div class="container">
  <div class="row">
    <% @parkings.each do |parking| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="parking-card" style="background-image: linear-gradient(rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%), url(<%= parking.photo %>)">
            <div class="parking-header">
              <p>
                <span class="parking-tags">residential</span>
                <span class="parking-tags">daytime</span>
                <span class="parking-tags">verified</span>
              </p>
              <p><%= parking.city %></p>
            </div>
            <div class="parking-details">
              <p><%= parking.user.email %></p>
              <p><%= parking.price.floor %>$/day</p>
              <i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <div class="parking-more">
              <%= link_to parking_path(parking) do %>
              <i class="fas fa-plus-circle"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>

