<div class="parking-title">
  <h3>beautiful space in
    <% if @parking.city.nil? %>
      Montréal
    <% else %>
      <%= @parking.city %>
    <% end %>
    </h3>
</div>

<div class="parking-content">

  <div class="parking-description">
    <div class="main-details">

      <p><%= @parking.address %></p>
      <p><%= @parking.user.email %></p>
      <p><%= @parking.description %></p>
    </div> <!-- end of main-details -->

    <div class="parking-dispo">
      <p>this place is available between</p>
      <p><%= @parking.start_time.strftime("%Y/%m/%d") %> and
      <%= @parking.finish_time.strftime("%Y/%m/%d") %></p>
    </div> <!-- end of parking-dispo -->



    <div class="parking-image">
      <% if @parking.photo.nil?  %>
        <%= image_tag "http://bit.ly/2PUFPFK" %>
      <% else %>
        <%= cl_image_tag @parking.photo, crop: :fill %>
      <% end %>
    </div> <!-- end of parking-image-->

    <div class="parking-actions">
      <% if policy(@parking).edit? && policy(@parking).destroy? %>
      <ul>
        <%= link_to 'edit', edit_parking_path(@parking), class: 'btn btn-info' %>
        <%= link_to 'delete', parking_path(@parking), method: :delete, class: 'btn btn-info' %>
      </ul>
        <%= link_to 'see all the bookings for this space', '#', class: 'btn btn-info' %>
        <% else %>
        <%= link_to 'book this space', new_parking_booking_path(@parking), class: 'btn btn-primary' %>
      <% end %>
    </div> <!-- end of parking-actions -->
  </div> <!-- end of parking-description -->

  <div id="map-wrapper">
    <div
      id="map-show"
      data-marker="<%= @marker.to_json %>"
    ></div>
  </div>


</div> <!-- end of parking content -->




