

<div class="parking-content">

  <div class="parking-description">

    <div class="main-details">
      <h3>beautiful space in<br>
        <% if @parking.city.nil? %>
          Montréal
        <% else %>
          <%= @parking.city %>
        <% end %>
        </h3>
      <p><%= @parking.address %></p>
      <p><%= @parking.user.email %></p>
    </div>

    <div class="parking-dispo">
      <p>this place is available between</p>
      <p><%= @parking.start_time.year %>/<%= @parking.start_time.month %>/<%= @parking.start_time.day %> and
      <%= @parking.finish_time.year %>/<%= @parking.finish_time.month %>/<%= @parking.finish_time.day %></p>
    </div>

    <div class="parking-actions">
      <%= link_to 'edit my space', '#', class: 'btn btn-primary' %>
      <%= link_to 'delete my space', '#', class: 'btn btn-info' %>
    </div>

    <div class="parking-actions">
      <%= link_to 'see all the bookings for this space', '#', class: 'btn btn-info' %>

    </div>

  <div
    id="map"
    style="width: 100%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
  ></div>

  </div>


  <div class="parking-image">

    <% if @parking.photo.nil?  %>
      <%= image_tag "http://bit.ly/2PUFPFK" %>
    <% else %>
      <%= image_tag "http://bit.ly/2PUFPFK" %>
    <% end %>

  </div>

</div>




